
<!--<div class="parallax-container">
    <div class="parallax"><%= image_tag("fondo.jpg") %></div>
</div>-->

<h1>Welcome#index</h1>
<p>Hola mundo</p>
<p>Hola mundo</p>

<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>
<p>Hola mundo</p>

<script type="text/javascript">  
$(document).ready(function(){
      $('.parallax').parallax();
    });
</script>